.banner {
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

@include color-mode(light) {
  .banner-home {
    background-image: url("/images/illustrations/heart.jpg");
  }
}

@include color-mode(dark) {
  .banner-home {
    background-image: url("/images/illustrations/heart.jpg");
    background-blend-mode: difference;
  }
}

.banner-access {
  background-image: url("/images/illustrations/fields.jpg");
}
