/* stylelint-disable selector-class-pattern */
@use "@vuepic/vue-datepicker/dist/main.css";

:root {
  --dp-font-family: fredoka;
}

.dp--theme-dark {
  --dp-primary-color: var(--bs-primary);
  --dp-primary-text-color: var(--bs-body-bg);
}

.dp--theme-light {
  --dp-primary-color: var(--bs-primary);
}

.dp--action-button {
  font-weight: bold;
}
