/* stylelint-disable selector-class-pattern */
@use "@vuepic/vue-datepicker/dist/main.css";

.dp__theme_dark {
  --dp-primary-color: var(--bs-primary);
  --dp-primary-text-color: var(--bs-body-bg);
}

.dp__theme_light {
  --dp-primary-color: var(--bs-primary);
}

.dp__action_button {
  font-weight: bold;
}
