@font-face {
  font-family: fredoka;
  font-display: swap;
  src:
    url('/fonts/Fredoka.ttf') format('truetype supports variations'),
    url('/fonts/Fredoka.ttf') format('truetype-variations');
  font-weight: 300 500;
  font-stretch: 75% 125%;
}
