@use "bootstrap" as bs;
@use "leaflet/dist/leaflet.css";

.leaflet-control-container a {
  text-decoration: none;
}

.leaflet-control-layers {
  border-radius: var(--bs-border-radius-lg);
  overflow: hidden;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: var(--bs-border-radius-lg);
  overflow: hidden;
}

.leaflet-control-layers-toggle {
  background-color: var(--bs-body-bg);
}

.leaflet-control-layers-selector {
  --bs-form-check-bg: var(--bs-body-bg);

  width: 1em;
  height: 1em;
  vertical-align: top;
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.leaflet-control-layers-selector[type="checkbox"] {
  border-radius: 0.25em;
}

.leaflet-control-layers-selector:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.leaflet-control-layers-selector:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.leaflet-popup-content {
  margin: 13px 20px;
}

.leaflet-control-attribution {
  background-color: var(--bs-body-bg)!important;
  color: var(--bs-body-color);
}

.leaflet-control-attribution a {
  color: var(--bs-link-color);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  box-shadow: 0 3px 14px rgba(var(--bs-body-color-rgb), 0.2);
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--bs-body-color);
}

.leaflet-control-layers-expanded {
  color: var(--bd-body-bg);
  background: var(--bs-body-bg);
}

@include bs.color-mode(light) {
  .leaflet-control-layers-selector:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  .leaflet-control-layers-toggle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg fill='%23000'%3E%3Cpath fill-rule='evenodd' d='M12 2c4.714 0 7.071 0 8.535 1.464c.504.504.835 1.114 1.052 1.889L5.353 21.587c-.775-.217-1.385-.548-1.889-1.052C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2ZM5.5 8.757c0 1.785 1.117 3.868 2.86 4.613c.406.173.874.173 1.28 0c1.743-.745 2.86-2.828 2.86-4.613C12.5 6.958 10.933 5.5 9 5.5S5.5 6.958 5.5 8.757Z' clip-rule='evenodd'/%3E%3Cpath d='M10.5 9a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0Z'/%3E%3Cpath d='M21.89 7.172C22 8.433 22 10.006 22 12c0 4.134 0 6.455-.987 7.951L15.06 14l6.828-6.828Zm-1.938 13.84l-5.951-5.951l-6.83 6.828c1.262.111 2.835.111 4.83.111c4.134 0 6.455 0 7.951-.988Z' opacity='.5'/%3E%3C/g%3E%3C/svg%3E");
  }
  
}

@include bs.color-mode(dark) {
  .leaflet-control-layers-selector:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%230a0808' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    filter: invert(1) hue-rotate(180deg) brightness(1) contrast(.9);
  }

  .leaflet-control-layers-toggle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg fill='%23fff' %3E%3Cpath fill-rule='evenodd' d='M12 2c4.714 0 7.071 0 8.535 1.464c.504.504.835 1.114 1.052 1.889L5.353 21.587c-.775-.217-1.385-.548-1.889-1.052C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2ZM5.5 8.757c0 1.785 1.117 3.868 2.86 4.613c.406.173.874.173 1.28 0c1.743-.745 2.86-2.828 2.86-4.613C12.5 6.958 10.933 5.5 9 5.5S5.5 6.958 5.5 8.757Z' clip-rule='evenodd'/%3E%3Cpath d='M10.5 9a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0Z'/%3E%3Cpath d='M21.89 7.172C22 8.433 22 10.006 22 12c0 4.134 0 6.455-.987 7.951L15.06 14l6.828-6.828Zm-1.938 13.84l-5.951-5.951l-6.83 6.828c1.262.111 2.835.111 4.83.111c4.134 0 6.455 0 7.951-.988Z' opacity='.5'/%3E%3C/g%3E%3C/svg%3E");
  }
}
