@use "bootstrap" as bs;
@use "helpers" as h;

$body-color: #e9ecef;
$primary: #ffafa9;
$primary-hover: #ff9f98;
$link-color: #ff9f98;
$link-hover-color: #ffafa9;
$accent: #121111;
$danger-hover: #e97d88;
$placeholder-color: #a8a8a8;
$btn-color: var(--bs-body-bg);
$dark: #443c47;
$danger: #ff8894;
$body-bg: #232222;
$tertiary-bg: #535252;
$success: #a9ffaf;

@include bs.color-mode(dark) {
  --bs-body-color: #{$body-color};
  --bs-body-color-rgb: #{bs.to-rgb($body-color)};
  --bs-primary: #{$primary};
  --bs-primary-rgb: #{bs.to-rgb($primary)};
  --bs-primary-hover: #{$primary-hover};
  --bs-link-color: #{$link-color};
  --bs-link-color-rgb: #{bs.to-rgb($link-color)};
  --bs-link-hover-color: #{$link-hover-color};
  --bs-link-hover-color-rgb: #{bs.to-rgb($link-hover-color)};
  --bs-secondary: #{$accent};
  --bs-secondary-rgb: #{bs.to-rgb($accent)};
  --bs-danger-hover : #{$danger-hover};
  --bs-danger-hover-rgb: #{bs.to-rgb($danger-hover)};
  --placeholder-color: #{$placeholder-color};
  --btn-color: #{$btn-color};
  --bs-danger: #{$danger};
  --bs-danger-rgb: #{bs.to-rgb($danger)};
  --bs-dark: #{$dark};
  --bs-dark-rgb: #{bs.to-rgb($dark)};
  --bs-body-bg: #{$body-bg};
  --bs-body-bg-rgb: #{bs.to-rgb($body-bg)};
  --bs-tertiary-bg: #{$tertiary-bg};
  --bs-tertiary-bg-rgb: #{bs.to-rgb($tertiary-bg)};
  --bs-success: #{$success};
  --bs-success-rgb: #{bs.to-rgb($success)};
  --switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{h.encode-hash($primary)}'/%3e%3c/svg%3e");

  a {
    text-decoration: none;
  }
}
