@use "bootstrap" as bs;
@use "helpers" as h;
@use "colors" as colors;

@include bs.color-mode(dark) {
  --bs-body-color: #{colors.$gravel-50};
  --bs-body-color-rgb: #{bs.to-rgb(colors.$gravel-50)};
  --bs-primary: #{colors.$primary-300};
  --bs-primary-rgb: #{bs.to-rgb(colors.$primary-300)};
  --bs-primary-hover: #{colors.$primary-400};
  --bs-link-color: #{colors.$primary-300};
  --bs-link-color-rgb: #{bs.to-rgb(colors.$primary-300)};
  --bs-link-hover-color: #{colors.$primary-300};
  --bs-link-hover-color-rgb: #{bs.to-rgb(colors.$primary-300)};
  --bs-secondary: #{colors.$gray-900};
  --bs-secondary-rgb: #{bs.to-rgb(colors.$gray-900)};
  --bs-danger: #{colors.$red-300};
  --bs-danger-rgb: #{bs.to-rgb(colors.$red-300)};
  --bs-danger-hover : #{colors.$red-400};
  --bs-danger-hover-rgb: #{bs.to-rgb(colors.$red-400)};
  --bs-dark: #{colors.$gravel-700};
  --bs-dark-rgb: #{bs.to-rgb(colors.$gravel-700)};
  --bs-body-bg: #{colors.$gray-800};
  --bs-body-bg-rgb: #{bs.to-rgb(colors.$gray-800)};
  --bs-tertiary-bg: #{colors.$gray-700};
  --bs-tertiary-bg-rgb: #{bs.to-rgb(colors.$gray-700)};
  --bs-success: #{colors.$green-200};
  --bs-success-rgb: #{bs.to-rgb(colors.$green-200)};
  --switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{h.encode-hash(colors.$primary-300)}'/%3e%3c/svg%3e");

  a {
    text-decoration: none;
  }
}
