node_modules
.nuxt
.output
dist
package-lock.json
.env
db.sqlite
server/api/test
server/email-templates
server/utils/emails.ts
scripts/*.js
*.sqlite3
/*.sql
public/uploads
.wrangler
.vscode
docs/.vitepress/cache
public/docs
.data
wrangler.toml
