node_modules
.nuxt
.output
dist
package-lock.json
.env
db.sqlite
server/api/test
scripts/*.js
*.sqlite3
/*.sql
public/uploads
.wrangler
.vscode
docs/.vitepress/cache
public/docs
.data
.dev.vars
.nuxtrc
.data/test
