.banner {
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.banner-home {
  background-image: url(/images/illustrations/heart.jpg);
}

.banner-access {
  background-image: url(/images/illustrations/fields.jpg);
}
