.banner {
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.banner-home {
  background-image: url(/images/illustrations/heart.png);
}

.banner-login, .banner-signup {
  background-image: url(/images/illustrations/fields.png);
}
