
.form-floating>.form-control~label::after, .form-floating>.form-select~label::after {
  background-color: transparent!important;
}

input:read-only {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-floating>.form-control:read-only~label::after {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-control::placeholder {
  color: rgb(var(--bs-body-color-rgb) .65);
}
