
.form-floating>.form-control~label::after {
  background-color: transparent!important;
}

input:read-only {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-floating>:read-only~label::after {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-control::placeholder {
  color: rgba(var(--bs-body-color-rgb),.65);
}
