.leaflet-control-container a {
  text-decoration: none!important;
}

.leaflet-control-layers {
  border-radius: var(--bs-border-radius-lg)!important;
  overflow: hidden!important;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-radius: var(--bs-border-radius-lg)!important;
  overflow: hidden!important;
}

.leaflet-control-layers-toggle {
  background-color: var(--bs-body-bg);
}

.leaflet-control-layers-selector {
  --bs-form-check-bg: var(--bs-body-bg);

  width: 1em;
  height: 1em;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.leaflet-control-layers-selector[type="checkbox"] {
  border-radius: 0.25em;
}

.leaflet-control-layers-selector:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.leaflet-control-layers-selector:checked {
  background-color: var(--bs-primary)!important;
  border-color: var(--bs-primary);
}

.leaflet-popup-content {
  margin: 13px 20px;
}

.leaflet-control-attribution {
  background-color: var(--bs-body-bg)!important;
  color: var(--bs-body-color);
}

.leaflet-control-attribution a {
  color: var(--bs-link-color);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  /* stylelint-disable -- This problem is ignorable. */
  box-shadow: 0 3px 14px rgba(var(--bs-body-color-rgb), 0.2);
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--bs-body-color);
}

.leaflet-control-layers-expanded {
  color: var(--bd-body-bg);
  background: var(--bs-body-bg);
}
