a {
  font-weight: 500;
  text-decoration: dashed underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--bs-secondary);
}

a:hover {
  text-decoration: underline;
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--bs-primary-hover) 0%, var(--bs-primary) 50%, var(--bs-secondary) 100%)!important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
