a {
  font-weight: 500;
  text-decoration: dashed underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--bs-secondary);
}

a:hover {
  text-decoration: underline;
}

.form-floating>.form-control~label::after {
  background-color: transparent!important;
}

input:read-only {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-floating>:read-only~label::after {
  background-color: var(--bs-tertiary-bg)!important;
}

.form-control::placeholder {
  color: rgba(var(--bs-body-color-rgb),.65);
}
