:root {
  scrollbar-color: var(--bs-primary) var(--bs-secondary);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}

a {
  font-weight: 500;
  text-decoration: dashed underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--bs-secondary);
}

a:hover {
  text-decoration: underline;
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--bs-primary-hover) 0%, var(--bs-primary) 50%, var(--bs-secondary) 100%)!important;
  box-shadow: 0 0 10px rgb(255 255 255 / 50%);
}

.geosearch {
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
}

.hover:hover {
  background-color: var(--bs-tertiary-bg)!important;
}

main {
  width: 100%;
}

.image-upload>input {
  display: none;
}


.image-upload label .overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.image-upload label:hover .overlay {
  opacity: .85;
}
