[data-bs-theme="dark"] {
  --bs-body-color: #e9ecef;
  --bs-body-color-rgb: 233, 236, 239;
  --bs-dark: #443c47;
  --bs-dark-rgb: 68, 60, 71;
  --bs-emphasis-color: var(--bs-body-bg);
  --bs-emphasis-color-rgb: var(--bs-body-bg-rgb);
  --bs-primary: #ffafa9;
  --bs-primary-rgb: 255, 175, 169;
  --bs-primary-hover: #ff9f98;
  --bs-primary-hover-rgb: 255, 159, 152;
  --bs-link-color: #ff9f98;
  --bs-link-color-rgb: 255, 159, 152;
  --bs-link-hover-color: #ffafa9;
  --bs-link-hover-color-rgb: 255, 175, 169;
  --bs-secondary: #121111;
  --bs-secondary-rgb: 18, 17, 17;
  --bs-body-bg: #232222;
  --bs-body-bg-rgb: 35, 34, 34;
  --bs-secondary-bg: #3a3939;
  --bs-secondary-bg-rgb: 58, 57, 57;
  --bs-tertiary-bg: #535252;
  --bs-tertiary-bg-rgb: 83, 82, 82;
  --bs-success: #a9ffaf;
  --bs-success-rgb: 169, 255, 175;
  --bs-danger: #ff8894;
  --bs-danger-rgb: 255, 136, 148;
  --bs-danger-hover: #e97d88;
  --bs-danger-hover-rgb: 233, 125, 136;
  --placeholder-color: #a8a8a8;
  --button-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] a {
  text-decoration: none;
}

[data-bs-theme="dark"] a:hover {
  text-decoration: underline;
}
