:root, [data-bs-theme=light] {
  --bs-body-color: #443c47;
  --bs-body-color-rgb : 68, 60, 71;
  --bs-dark: var(--bs-body-color);
  --bs-dark-rgb: var(--bs-body-color-rgb);
  --bs-emphasis-color: var(--bs-body-color);
  --bs-emphasis-color-rgb: var(--bs-body-color-rgb);
  --bs-primary: #ff6969;
  --bs-primary-rgb: 255, 105, 105;
  --bs-primary-hover: #f86363;
  --bs-link-color: #db5353;
  --bs-link-color-rgb: 219, 83, 83;
  --bs-link-hover-color: rgb(221, 67, 67);
  --bs-link-hover-color-rgb: 221, 67, 67;
  --bs-secondary: #ffe5e5;
  --bs-secondary-rgb: 255, 229, 229;
  --placeholder-color: #a8a8a8;
}
