:root, [data-bs-theme=light] {
  --bs-body-color: #443c47;
  --bs-body-color-rgb : 68, 60, 71;
  --bs-dark: var(--bs-body-color);
  --bs-dark-rgb: var(--bs-body-color-rgb);
  --bs-emphasis-color: var(--bs-body-color);
  --bs-emphasis-color-rgb: var(--bs-body-color-rgb);
  --bs-primary: #ff6969;
  --bs-primary-rgb: 255, 105, 105;
  --bs-primary-hover: #ff6a6a;
}
